<header>

</header>
<body>
  <main>
    <div class="title">
          <h1>Crie uma conta</h1>
    </div>
    <div class="forms">
      <form class="example-form" [formGroup]="createAccountForm">
        <div class="account-data">
          <mat-form-field appearance="fill">
            <mat-label>Agência</mat-label>
            <input matInput formControlName="agency" type="number">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label >Número da Conta</mat-label>
            <input matInput formControlName="number" type="number">
          </mat-form-field>
        </div>
        <div class="client-data">
          <mat-form-field appearance="fill">
            <mat-label>Nome do Cliente</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="document" type="text">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telephones" type="tel">
          </mat-form-field>
        </div>
      </form>
      <div class="example-button-row">
        <button mat-raised-button color="primary" [disabled]="createAccountForm.invalid" (click)="createAccount()">Criar Conta</button>
      </div>
    </div>
  </main>
</body>

