<header>

</header>
<body>
  <main>
    <section class="flex-container">
      <div class="title">
            <h1>Crie uma conta</h1>
      </div>
      <div class="forms">
        <form class="example-form">
          <mat-card class="card">
            <mat-card-title>Dados da Conta</mat-card-title>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número da Conta</mat-label>
                <input matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Agência</mat-label>
                <input matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Senha de Acesso</mat-label>
                <input matInput>
              </mat-form-field></td>
            </tr></table>
          </mat-card>
          <br>
          <mat-card class="card">
            <mat-card-title>Dados do Cliente</mat-card-title>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome do Cliente</mat-label>
                <input matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>CPF do Cliente</mat-label>
                <input matInput>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefone do Cliente</mat-label>
                <input matInput>
              </mat-form-field></td>
            </tr></table>

          </mat-card>



        </form>
      </div>
    </section>
  </main>
</body>

